<div class="content-wrapper" fxLayout="column" style="padding: 20px;" fxLayoutAlign="start center" fxLayoutGap="20px">
  <img class="title-image" src="assets/images/Long.png" fxFlexOffset="20px">
  <h1 class="mat-h1" style="text-align: center;">Disaster Mitigaion, Recovery, and Personal Safety</h1>
  <h1 class="mat-h1" style="max-width: 500px; text-align: center;">RescYou provides an all-in-one dashboard to help you and your loved ones prepare for and recover
    in the event of a disaster.</h1>
</div>
