.node {
    background-color: #30b79f;
}

.navbar-banner {
    width: 320px;
    margin: 10px 10px 10px 10px;
    border-bottom: 2px solid white;
}

.link-tree {
    padding-top: 20px;
    background-color: #30b79f;
}
